#tianai-captcha.tianai-captcha-scrape {
  #tianai-captcha-scrape-tip-img {
    display: inline-block;
    height: 20px;
  }
  #tianai-captcha-slider-move-track-font {
    color: #808080;
  }
  .slider-img-div {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #D8D8D8;
    transform: translate(0px, 0px);
    border-radius: 0 5px 5px 0;
    box-sizing: border-box;
    top: 0;
    /*border-left: 2px solid red;*/
    box-shadow: -6  px 0px 9px 0px #ffffff;
  }
}
